{%extends "base.html"%}

{%block title%}
<title>{{meta.share.fbook.card_title}}</title>
{%endblock%}


{%block header%}

{% include "ads/banner1.html" %}

<header class="center">
    <section class="share">
       <a href="" class="icon icon-facebook" target="_blank"></a>
       <a href="" class="icon icon-twitter" target="_blank"></a>
       <a class="icon icon-mail" target="_blank"></a>
    </section>
    <h1>
        {{ HED }}
    </h1>
    <p class="subhead">{{ DEK }} </p>
</header>
{%endblock%}

{%block content%}

{% raw %}
<div id="intro-app"></div>
{% endraw %}


<div class="info">
    <p>
        By <span class="byline"><a target="blank" href="http://www.politico.com/staff/edward-isaac-dovere">Edward-Isaac Dovere</a></span>, <span class="byline"><a target="blank" href="http://www.politico.com/staff/madeline-conway"> Madeline Conway</a></span> and <span class="byline"><a target="blank" href="https://twitter.com/tylrfishr">Tyler Fisher</a></span> | <span class="timestamp"> <time datetime="{{meta.timestamp}}">{{meta.dateline}}</time></span>
    </p>
</div>


{{ TOP|markdown }}
{{ SECOND|markdown }}
<div id="trump-u"></div>
{{ THIRD|markdown }}
<div id="foreign"></div>
{{ FOURTH|markdown }}

<section class="credits">
    <p>Copy edited by <a target="blank" href="###">Firstname Lastname</a>. Produced by <a target="blank" href="###">FirstName Last</a>.</p>
</section>

{% include "meta/comments.html" %}

{%endblock%}
