@import 'bootstrap';

@import 'breakpoints';
@import 'mixins';
@import 'colors/base';
@import 'colors/diverging';
@import 'colors/qualitative';
@import 'colors/sequential';
@import 'fonts';
@import 'icons';

@import 'elements';
@import 'navigation';
@import 'header';
@import 'footer';
@import 'photos';
@import 'buttons';
@import 'ads';
@import 'comments';
@import 'share';
@import 'credits';
@import 'graphics';

@import 'fontello/fontello';


header h1{
  font-family: $jubilat;
}

#search{
  margin-top: 20px;
}

.info p{
  margin-top: 30px;
  text-align: center;
}

section.full-width{
  max-width: 100%;
}

article p{
  word-wrap: break-word;
}

.swipe-directions{
  display: none;
}

@media(max-width: 768px){
  header{
    h1{
    font-size: 30px;
    }
    .subhead{
      font-size: 18px;
    }
  }
  .VueCarousel-navigation{
    display: none !important;
  }
  .swipe-directions{
    display: block;
    text-align: center;
    margin: 0 auto;
    font-family: $proxima;
    color: $satan;
  }
}
