@import 'bootstrap';

@import 'breakpoints';
@import 'mixins';
@import 'colors/base';
@import 'colors/diverging';
@import 'colors/qualitative';
@import 'colors/sequential';
@import 'fonts';
@import 'icons';

@import 'elements';
@import 'navigation';
@import 'header';
@import 'footer';
@import 'photos';
@import 'buttons';
@import 'ads';
@import 'comments';
@import 'share';
@import 'credits';
@import 'graphics';

@import 'fontello/fontello';


header h1{
  font-family: $jubilat;
}

#search{
  margin-top: 20px;
}

.info p{
  margin-top: 30px;;
}

section.full-width{
  max-width: 100%;
}
